*{
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    margin: 0 auto;
    color: #000;
    width: 100%;
    height: 100vh;
    max-width: 1000px;
    font-family: "Roboto", Arial, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

.headers, .search-container{
    color: #fff;
}

.pre-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ebe8e817;

    & .social-media, .contact-container, .options-container{
        display: flex;
        align-items: center;
        height: 100%;
    }

    & .social-media{
        gap: 10px;
    }
    
    & .options-container{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    & .login{
        display: flex;
        align-items: center;
        height: 25px;
        color: #333;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #d7df23;
        border-radius: 5px;
        padding: 5px 10px;
        & svg{
            width: 16px;
            height: auto;
            margin-left: 5px;
        }
    }

    & .search-article-form input {
        height: 25px;
        padding: 5px 10px;
        border-radius: 5px;
        inset: none;
        border: none;
    }

    & .contact-container{
        gap: 15px;
    }

    & .social-media a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: auto;
    }

    & .social-media svg{
        width: 100%;
        height: auto;
    }

    & .contact-container a{
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 4px;
        position: relative;
    }

    & .contact-container span{
        font-size: 14px;
    }

    & .contact-container svg{
        width: 16px;
        height: auto;
        margin-right: 5px;
    }

    #whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        background-color: #25D366;
        border-radius: 50%;
        box-shadow: 1px 7px 24px -1px #333;
    }

    #telegram{
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #fff;
        background-color: #33abdf;
        border-radius: 50%;
        padding: 1px;
        z-index: 2;
        box-shadow: 1px 7px 24px -1px #333;
    }

    #chat{
        fill: #ff8000;
        background-color: #ccc;
        border-radius: 50%;
        padding: 2px;
        box-shadow: 1px 7px 24px -1px #333;
    }

    #envelope{
        fill: #3d2219;
        background-color: #ccc;
        border-radius: 50%;
        padding: 2px;
        box-shadow: 1px 7px 24px -1px #333;
    }

    #facebook{
        fill: #0866ff;
    }

    #facebook-link{
        position: relative;
        z-index: 2;
    }
    #facebook-link::before{
        box-shadow: 1px 7px 24px -1px #333;
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        z-index: -1;
    }

    #x{
        fill: #000;
    }
    #x-link{
        position: relative;
        z-index: 2;
    }
    #x-link::before{
        box-shadow: 1px 7px 24px -1px #333;
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 5px;
        background-color: #fff;
        z-index: -1;
    }

    #youtube{
        fill: #ff0033;
    }
    #youtube-link{
        position: relative;
        z-index: 2;
    }
    #youtube-link::before{
        box-shadow: 1px 7px 24px -1px #333;
        content: "";
        position: absolute;
        width: 19px;
        height: 13px;
        background-color: #fff;
        border-radius: 5px;
        z-index: -1;
    }

    #instagram-link{
        position: relative;
        z-index: 2;
    }
    #instagram-link::before{
        box-shadow: 1px 7px 24px -1px #333;
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 5px;
        background-color: #fff;
        z-index: -1;
    }

    #linkedin{
        fill: #0073b2;
        position: relative;
    }
    #linkedin-link{
        position: relative;
        z-index: 2;
    }
    #linkedin-link::before{
        box-shadow: 1px 7px 24px -1px #000;
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 5px;
        z-index: -1;
    }

    #tiktok-link{
        box-shadow: 1px 7px 24px -1px #000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        width: 17px;
        height: 17px;
        background-color: #000;
        border-radius: 50%;
        position: relative;
        z-index: 2;
    }
    #tiktok{
        fill: #fff;
    }

}

.pre-header, .headers header{
    background: linear-gradient(45deg, rgb(25, 158, 154) 0%, rgb(36, 45, 79) 100%);
    padding: 0 15px;
}

.headers header{
    display: flex;
    align-items: center;
    height: 80px;

    & #bar{
        display: none;
        height: 30px;
        width: auto;
        cursor: pointer;
    }

    & .logo{
        height: 50px;
        & img{
            height: 100%;
            width: auto;
        }
    }

    & nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    & .menu{
        display: flex;
    }

    & ul{
        height: 100%;
        margin: 0;
        padding: 0;
    }

    & .menu li{
        list-style: none;
        position: relative;
    }

    & .menu a{
        display: flex;
        align-items: center;
        font-size: 14px;
        height: 100%;
        text-transform: uppercase;
        color: currentColor;
        text-decoration: none;
        font-weight: bold;
        padding: 0 20px;
        
        & svg{
            height: 20px;
            width: auto;
            margin-left: 10px;
        }
    }

    & .menu a:hover{
        color: #50535C;
        background-color: #fff;
    }

    & .submenu{
        z-index: 4;
        position: absolute;
        top: 80px;
        left: 0px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        color: #50535C;
        height: auto;
        width: 200px;
        & a{
            padding: 10px;
        }
    }
    & .submenu.last{
        left: -82px;
    }
    & .submenu a:hover{
        background-color: #242D4F;
        color: #fff;
    }
    & .submenu.hidde{
        display: none;
    }
}

.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background: linear-gradient(45deg, rgb(28, 144, 145) 0%, rgb(251, 205, 46) 100%);
    & p{
        font-size: 23px;
        margin: 10px;
    }
    & h1 {
        font-size: 56px;
        margin: 10px;
    }
    & form{
        height: 40px;
        margin: 30px 0;
        & input, select{
            height: 100%;
            border-radius: 5px;
            inset: none;
            border: none;
        }
        & input[type="search"]{
            width: 400px;
            padding: 0 10px;
            font-size: 16px;
        }
        & input[type="submit"]{
            background-color: #199E9A;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0 20px;
            cursor: pointer;
        }

    }
}

.video-tutorials-container{
    margin-top: 30px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    h2{
        font-size: 23px;
    }
    p{
        margin: 5px;
        font: 18px;
    }

    p, h2{
        color: #333;
        font-weight: bold;
    }

    a{
        color: #fff;
        background-color: #141414;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 14px;
    }

    .video-tutorials{
        display: flex;
        justify-content: center;
        gap: 20px;

        iframe{
            border-radius: 5px;
            box-shadow: 1px 7px 24px -1px #9c9c9ca8;
            background-position: cover;
            width: 300px;
            height: 250px;
        }
    }
}

.search-container{
    position: relative;
}
.ban-container{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 5px;
    background-color:#e7cbcb;
    border-radius: 5px;
    color: #a94442;
    width: 80%;
    padding: 15px 10px;
    & span {
        font-size: 10px;
        font-weight: bold;
    }
    #ban{
        width: 20px;
        height: 20px;
        fill: #a94442;
    }
}
.domain-registry-container.hidde{
    display: none;
}
.domain-registry-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(0.8px);
    color: #333;

    & .domain-registry-exit{
        position: absolute;
        top: 10px;
        left: calc(100% - 40px);
        height: 30px;
        width: auto;
        cursor: pointer;

        & svg{
            fill: #333;
            width: 100%;
            height: 100%;
        }
    }

    & .domain-registry-content{
        max-width: 800px;
        position: relative;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 80%;
        padding: 20px 40px;
        border-radius: 5px;
        box-shadow: 1px 7px 24px -1px #363636;
    }

    & .domain-body-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        & .status-icon{
            width: 80px;
            height: auto;
            & svg{
                width: 100%;
                height: 100%;
            }
            & svg.available{
                fill: #199E9A ;
            }
            & svg.not-available{
                fill: #F28CA9 ;
            }
        }
        & p{
            font-size: 12px;
            color: #333;
        }
        
        p.available{
            color: #199E9A ;
        }
        p.not-available{
            color: #F28CA9 ;
        }

        a{
            background-color: #242D4F;
            color: #fff;
            padding: 8px 10px;
            border-radius: 5px;
        }
        a.no-register{
            color: #44658B;
            background: none;
            padding: 0;
        }
        a.no-register:hover{
            text-decoration: underline;
        }

        table {
            font-size: 12px;
            border-collapse: collapse;
            border: 2px solid rgb(140 140 140);
        }

        thead {
            background-color: #F28CA9;
        }

        th, td {
            border: 1px solid rgb(160 160 160);
            padding: 4px 10px;
        }

        td span:first-child{
            font-weight: bold;
        }

        & .domain-body-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & p{
                font-weight: bold;
                text-align: center;
                font-size: 16px;
            }
        }

    }

    & header{
        width: 100%;
        border-bottom: 1px solid #0000005d;
        & h2{
            font-weight: bold;
            font-size: 20px;
            margin: 10px;
        }
    }
    & footer p{
        font-size: 12px;
        font-weight: bold;
    }
    footer a{
        color: #304180;
    }
    footer a:hover{
        text-decoration: underline;
    }

}

@media screen and (max-width: 1000px){
    .pre-header{
        height: 80px;
    }
    & .options-container{
        gap: 8px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .video-tutorials{
        flex-direction: column;
        align-items: center;

        & iframe{
            width: 700px !important;
            height: 300px !important;
        }
    }
}

@media screen and (max-width: 900px){

    .pre-header{
        flex-direction: column-reverse;
        gap: 10px;
        height: auto;
        padding: 10px;

        .options-container{
            justify-content: space-around;
            flex-direction: row-reverse;
        }

        .search-article-form input{
            width: 300px;
        }
    }

    .headers{
        display: flex;
        flex-direction: column;
    }
    .pre-header{
        order: 2;
        border: none;
    }
    .headers header{
        justify-content: space-between;
        position: relative;
        order: 1;
        border-bottom: 1px solid #ebe8e817;

        #bar{
            display: block;
            fill: #fff;
        }

        .menu{
            z-index: 10;
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 80px;
            left: 0;
            background: linear-gradient(45deg, rgb(25, 158, 154) 0%, rgb(36, 45, 79) 100%);
            height: auto;
            a{
                padding: 15px 10px;
            }
            & .submenu{
                display: inline-block;
                position: static;
                top: 0;
                left: 0;
                width: 100%;
            }
            .hidde{
                display: none;
            }
            
        }
        .menu.hidde{
            display: none;
        }
    }
}

@media screen and (max-width: 750px){
    .video-tutorials{
        box-sizing: border-box;
        margin: 40px;
            & iframe{
            width: 400px !important;
            height: 300px !important;
        }
    }

    .domain-registry-content{
        justify-content: start !important;
        height: auto !important;
    }

    .domain-body-header{
        display: flex;
        flex-direction: row !important;
    }
}

@media screen and (max-width: 630px){
    .search-container{ 
        & form{
            width: 100%;
            height: auto;
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            & input, select{
                width: 100%;
                height: 40px;
            }

            & input[type="search"]{
                width: 100%;
            }
        }

        & p, h1{
            text-align: center;
        }
    }

    .domain-body-header .status-icon{
        display: none;
    }
}

@media screen and (max-width: 530px){
    .video-tutorials-container{
        & h2{
            font-size: 16px;
        }
        & a{
            font-size: 12px;
        }

        & iframe{
            width: 300px !important;
            height: 200px !important;
        }
    }

}

@media screen and (max-width: 500px){
    & .options-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .login{
            justify-self: flex-end;
        }
    }

    .search-container{
        & h1{
            font-size: 40px;
        }
        & p{
            font-size: 18px;
        }
    }

    .domain-registry-content{
        padding: 10px 15px !important;
    }

    .domain-body-content{
        gap: 0px !important;
        
        & .domain-body-header{
            display: none;
        }
    }

}

@media screen and (max-width: 400px){
    .search-container{
        & p{
            font-size: 20px;
        }
    }

    & .contact-container{
        background-color: #eeeeee15;
        box-shadow: 1px 7px 24px -1px #70707091;
        border-radius: 5px;
        height: auto;
        align-items: stretch;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        padding: 15px 5px;
    }

    .video-tutorials-container{
        & header{
            display: flex;
            flex-direction: column;   
        }
    }
}